body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 100vh;
  width: 80vw;
  max-width: 2000px;
  padding: 0 10vh;
  margin: auto;
  background-color: rgb(27, 40, 56);
  color: rgb(199, 213, 224);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.content {
  background-color: rgb(42, 71, 94);
}

#header-nav {
  grid-area: nav;
  height: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 100%;
}

.navigation ul {
  margin-right: 5%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.material-icons {
  cursor: pointer;
}

.mode-slider {
  padding-bottom: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 100%;
}

main {
  grid-area: main;
  border-top: 1px solid rgb(23, 26, 33);
  border-bottom: 1px solid rgb(23, 26, 33);
  display: grid;
  grid-template-areas:
    "content content events"
    "content content chat";
  background-color: white;
}

.main-content {
  grid-area: content;
  border-right: 1px solid rgb(23, 26, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-content input {
  height: 50px;
  position: relative;
  width: 100%;
}

.friendsList-form {
  height: 300px;
}

.event-container {
  grid-area: events;
}

.event-container h2 {
  text-align: center;
}

#events-list {
  list-style: none;
}

section .event {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em;
  padding: 17px;
  background-color: #1b2838;
  border-radius: 20px;
}

.event-li {
  display: grid;
  gap: 3.5px;
}

.delete-event {
  padding-top: 0.3em;
}

#events-box {
  max-width: 300px;
  margin: 0 auto;
}

#friends-checkbox {
  display: grid;
  grid-template-columns: 1em 8em 1em 8em;
  gap: 0.25em;
  padding: 1em 0em;
}

#friends-checkbox input {
  display: flex;
}
#friends-checkbox label {
  padding: 0.2em;
}

#event-date {
  margin: 0.5em;
}

.friendList-form {
  width: 20em;
  padding: 14px;
  margin: 1em;
}

#games-to-compare {
  max-width: 11em;
}

#games-to-compare h2 {
  text-align: left;
}


#games-to-compare ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.chat {
  display: grid;
  grid-template-rows: 20px;
}

.chat-topics {
  display: grid;
  grid-template-rows: 20px;
}

.chat-topics div {
  width: auto;
  height: 100px;
}


footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: white;
}

.games-header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(42, 71, 94);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

#particles-js canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #1b2838;
  border-radius: 20px;
  box-sizing: border-box;
  max-height: 500px;
  padding: 20px;
  max-width: 320px;
}

label {
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

fieldset {
  border: none;
}

h1 {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}
