body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 80%;
  width: 80%;
  max-width: 2000px;
  padding: 0 10vh;
  margin: auto;
  background-color: rgb(152, 152, 152);
}

#header-nav {
  grid-area: nav;
  height: 100%;
  border: 1px solid black;
}

nav {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 100%;
  background-color: white;
}

.navigation ul {
  margin-right: 5%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.material-icons {
  cursor: pointer;
}

.mode-slider {
  padding-bottom: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 100%;
}

main {
  grid-area: main;
  border: 1px solid pink;
  display: grid;
  grid-template-areas:
    "content content calender"
    "content content chat";
  background-color: white;
}

.main-content {
  grid-area: content;
  border: 1px solid blue;
}

.calender {
  grid-area: calender;
  border: 1px solid violet;
}

.chat {
  grid-area: chat;
  border: 1px solid orange;
}

footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: white;
}
